.me{
    position: relative;
}

.me::after{
    content: " ";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    bottom: -5px;
    right: -6px;
}

.game{
    position: relative;
}

.game::after{
    content: " ";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: -5px;
    right: -6px;
}

.exp{
    position: relative;
}

.exp::after{
    content: " ";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    bottom: -5px;
    right: -6px;
}
.exp::before{
    content: " ";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: -5px;
    right: -6px;
}