@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --screen-width: 100vw;
}

@media (prefers-color-scheme: dark) {
  :root {}
}


.shadow-1 {
  position: absolute;
  overflow: hidden;
  z-index: -999;
  border-radius: 100% !important;
  width: 424px;
  height: 424px;
  left: 18px;
  top: 25%;

  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(43, 6, 129, 0.445) 0%,
    rgba(106, 11, 150, 0) 100%
  );
}

.shadow-2 {
  position: absolute;
  overflow: hidden;
  z-index: -999;
  border-radius: 100% !important;
  width: 684px;
  height: 684px;
  left: 360px;
  top: -52%;

  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(173, 0, 255, 0) 100%
  );
}

.shadow-3 {
  position: absolute;
  overflow: hidden;
  z-index: -999;
  border-radius: 100% !important;
  width: 366px;
  height: 366px;
  left: 1128px;
  top: 0px;

  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(173, 0, 255, 0.1) 0%,
    rgba(217, 217, 217, 0) 100%
  );
}

.rightBox{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.rightBox:hover{
  background-color: blueviolet !important;
}